@model ProductDetailVm
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">shop</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="shop.html">Shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product Details</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- product details wrapper start -->
    <div class="product-details-wrapper section-padding">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <!-- product details inner end -->
                    <div class="product-details-inner">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="product-large-slider mb-20">
                                    @foreach (var image in Model.Product.ProductImages)
                                    {
                                        <div class="pro-large-img img-zoom">
                                            <img src="~/assets/img/product/@image.Name" alt="" />
                                        </div>
                                    }
                                </div>
                                <div class="pro-nav slick-row-5">
                                    @foreach (var image in Model.Product.ProductImages)
                                    {
                                        <div class="pro-nav-thumb">
                                            <img src="~/assets/img/product/@image.Name" alt="" />
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="product-details-des">
                                    <h3 class="pro-det-title">Primitive Mens Premium Shoes</h3>
                                    <div class="pro-review">
                                        <span><a href="#">@Model.Product.ProductComments.Count Review(s)</a></span>
                                    </div>
                                    <div class="price-box">
                                        @if (Model.Product.DiscountPercentege > 0)
                                        {
                                            <span class="price-regular">$@((Model.Product.CostPrice - ((Model.Product.CostPrice * Model.Product.DiscountPercentege) / 100)).ToString("0.00"))</span>
                                            <span class="price-old"><del>$@Model.Product.CostPrice.ToString("0.00")</del></span>
                                        }
                                        else
                                        {
                                            <span class="price-regular">$@Model.Product.CostPrice</span>
                                        }
                                    </div>
                                    <p>
                                        @Model.Product.Description
                                    </p>
                                    <div class="quantity-cart-box d-flex align-items-center mb-20">
                                        <div class="quantity">
                                            <div class="pro-qty"><input type="text" value="1"></div>
                                        </div>
                                        <a href="cart.html" class="btn btn-default">Add To Cart</a>
                                    </div>
                                    <div class="availability mb-20">
                                        <h5 class="cat-title">Availability:</h5>
                                        @if (Model.Product.IsStock == true)
                                        {

                                            <span class="list-value">In Stock</span>

                                        }
                                        else
                                        {

                                            <span style="color:red" class="list-value">Out Of Stock</span>

                                        }
                                    </div>
                                    <div class="share-icon">
                                        <h5 class="cat-title">Share:</h5>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product details inner end -->
                    <!-- product details reviews start -->
                    <div class="product-details-reviews section-padding">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product-review-info">
                                    <ul class="nav review-tab">
                                        <li>
                                            <a class="active" data-toggle="tab" href="#tab_one">description</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab_two">information</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab_three">reviews</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content reviews-tab">
                                        <div class="tab-pane fade show active" id="tab_one">
                                            <div class="tab-one">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque.</p>
                                                <div class="review-description">
                                                    <div class="tab-thumb">
                                                        <img src="~/assets/img/about/services.jpg" alt="">
                                                    </div>
                                                    <div class="tab-des">
                                                        <h3>Product Information :</h3>
                                                        <ul>
                                                            <li>Category: @Model.Product.Category.Name</li>
                                                            @if (Model.Product.IsStock == true)
                                                            {
                                                                <li>
                                                                    Availability: <span class="list-value">In Stock</span>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li>
                                                                    Availability: <span style="color:red" class="list-value">Out Of Stock</span>
                                                                </li>
                                                            }
                                                            <li>
                                                                Tags:
                                                                @(Html.Raw(string.Join(",", Model.Product.ProductTags.Select(x => $"<a href=#>{x.Tag.Name}</a>").ToList())))
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <p>Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in imperdiet ligula euismod eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam erat mi, rutrum at sollicitudin rhoncus, ultricies posuere erat. Duis convallis, arcu nec aliquam consequat, purus felis vehicula felis, a dapibus enim lorem nec augue. Nunc facilisis sagittis ullamcorper.</p>
                                                <p>Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt.</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab_two">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td>color</td>
                                                        <td>black, blue, red</td>
                                                    </tr>
                                                    <tr>
                                                        <td>size</td>
                                                        <td>
                                                            Sizes:
                                                            @(Html.Raw(string.Join(",", Model.Product.ProductSizes.Select(x => $"<a href=#>{x.Size.Value}</a>").ToList())))
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade" id="tab_three">
                                            <form method="post" asp-action="AddComment"  class="review-form">
                                                <h5>@(Model.TotalCommentsCount) review for <span>@Model.Product.Name</span></h5>
                                                <div class="total-reviews">
                                                    @foreach (var comment in Model.Product.ProductComments)
                                                    {
                                                        <div class="rev-avatar">
                                                            <img src="~/assets/img/about/avatar.jpg" alt="">
                                                        </div>
                                                        <div class="review-box">
                                                            <div class="ratings">
                                                                @for (int i = 0; i < 5; i++)
                                                                {
                                                                    <span><i class="fa fa-star  @(i<comment.Rate?"good":"")"></i></span>
                                                                }
                                                            </div>
                                                            <div class="post-author">
                                                                <p><span>@comment.AppUser.UserName -</span>@comment.CreatedDate</p>
                                                            </div>
                                                            <p>@comment.Text</p>
                                                        </div>
                                                    }
                                                </div>

                                                @if (!Model.HasCommentUser)
                                                {
                                                    <div class="form-group row">
                                                        <div class="col">
                                                            <label class="col-form-label"><span class="text-danger">*</span> Your Review</label>
                                                            <input type="hidden" asp-for="@Model.ProductComment.ProductId" value="@Model.Product.Id" />
                                                            <label asp-for="@Model.ProductComment.Text"></label>
                                                            <textarea asp-for="@Model.ProductComment.Text" class="form-control" required></textarea>
                                                            <div class="help-block pt-10"><span class="text-danger">Note:</span> HTML is not translated!</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col">
                                                       @*      <label class="col-form-label"><span class="text-danger">*</span> Rating</label>
                                                            &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                                            <input type="radio" value="5" asp-for="ProductComment.Rate">
                                                            &nbsp;
                                                            <input type="radio" value="4" asp-for="ProductComment.Rate">
                                                            &nbsp;
                                                            <input type="radio" value="3" asp-for="ProductComment.Rate">
                                                            &nbsp;
                                                            <input type="radio" value="2" asp-for="ProductComment.Rate">
                                                            &nbsp;
                                                            <input type="radio" value="1" asp-for="ProductComment.Rate">
                                                            &nbsp;Good *@


                                                            <label for="rating">Your Rating:</label><br>
                                                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><br>
                                                            <input type="radio" id="star1" asp-for="ProductComment.Rate" value="1">
                                                            <label for="star1">1 star</label><br>
                                                            <input type="radio" id="star2" asp-for="ProductComment.Rate"  value="2">
                                                            <label for="star2">2 stars</label><br>
                                                            <input type="radio" id="star3" asp-for="ProductComment.Rate" value="3">
                                                            <label for="star3">3 stars</label><br>
                                                            <input type="radio" id="star4" asp-for="ProductComment.Rate" value="4">
                                                            <label for="star4">4 stars</label><br>
                                                            <input type="radio" id="star5" asp-for="ProductComment.Rate" value="5">
                                                            <label for="star5">5 stars</label><br><br>

                                                        </div>
                                                    </div>
                                                    <div class="buttons">
                                                        <button type="submit" class="sqr-btn">Post Comment</button>
                                                    </div>
                                                }

                                            </form> <!-- end of review-form -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product details reviews end -->
                    <!-- featured product area start -->
                    <section class="Related-product">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="section-title text-center">
                                        <h2 class="title">Related Product</h2>
                                        <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="product-carousel-4 mbn-50 slick-row-15 slick-arrow-style">
                                        <!-- product single item start -->
                                        @await Html.PartialAsync("_ProductPartial", Model.RelatedProducts)
                                        <!-- product single item start -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- featured product area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- product details wrapper end -->
</main>