@using MiniAppJuanTemplate.Areas.Manage.ViewModels
@model ProductCreateViewModel
<div class="container">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPrice"></label>
                <input asp-for="CostPrice" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="CostPrice"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercentege"></label>
                <input asp-for="DiscountPercentege" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="DiscountPercentege"></span>
            </div>
            <div class="row">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label asp-for="IsNew" asp-for="IsNew" class="form-check-label" for="flexSwitchCheckDefault"></label>
                    <span class="text-danger" asp-validation-for="IsNew"></span>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label asp-for="IsStock" asp-for="IsStock" class="form-check-label" for="flexSwitchCheckDefault"></label>
                    <span class="text-danger" asp-validation-for="IsStock"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Rate"></label>
                <input asp-for="Rate" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Rate"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photos"></label>
                <input asp-for="Photos" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Photos"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="MainPhoto"></label>
                <input asp-for="MainPhoto" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="MainPhoto"></span>
            </div>

            <div class="form-group">
                <span>Select Category Name</span>
                <select class="form-select" asp-for="CategoryId">
                    <option disabled>Select Category Name</option>
                    @foreach (var category in ViewBag.Category)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <span>Select Tags</span>
                <select class="form-select" asp-for="TagIds">
                    <option disabled>Select Tags</option>
                    @foreach (var tag in ViewBag.Tags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <span>Select Sizes</span>
                <select class="form-select" asp-for="SizeIds">
                    <option disabled>Select Sizes</option>
                    @foreach (var size in ViewBag.Sizes)
                    {
                        <option value="@size.Id">@size.Value</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@section scripts {
    @await Html.PartialAsync("_ValidationPartial")
}


