@model List<Order>

@{
    int count = 1;
}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Müştəri Adı</th>
            <th>Məhsul</th>
            <th>Qiymət</th>
            <th>Sifariş Status</th>
            <th>Sifariş Tarixi</th>
            <th>Sifariş</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@(count++)</td>
                <td>@order.AppUser.UserName</td>
                <td>
                    @foreach (var item in order.OrderItems)
                    {
                        <div>
                            @item.Product.Name * @item.Count
                        </div>
                    }

                </td>

                <td>
                    @foreach (var item in order.OrderItems)
                    {
                        <div>

                            $@(((item.Product.CostPrice - ((item.Product.CostPrice * item.Product.DiscountPercentege) / 100)) * item.Count).ToString("0.00"))
                        </div>
                    }
                </td>
                @if (order.OrderStatus == OrderStatus.Pending)
                {
                    <td>
                        <a class="btn" asp-action="reject" asp-route-id="@order.Id">Reject</a>
                        <a class="btn" asp-action="accept" asp-route-id="@order.Id">Accept</a>
                    </td>
                }
                else
                {
                    <td>@order.OrderStatus</td> 
                }
                <td>@order.CreatedDate</td> 
                <td>
                    <a class="btn" asp-action="reject" asp-route-id="@order.Id" >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
